* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

$headerBg: rgb(53, 158, 35);
$headerTextColor: white;
$sidebarBG: beige;
$black: black;
.header {
  background-color: $headerBg;
  text-align: center;
  color: $headerTextColor;
  padding: 20px;
}

.container {
  display: flex;
  height: calc(100svh - 127.5px);
  .sidebar {
    width: 250px;
    height: 100%;
    background-color: $sidebarBG;
    padding: 20px;
  }
  .content {
    width: calc(100% - 250px);
    height: 100%;
    padding: 20px;
  }
}
.footer {
  padding: 10px;
  background-color: $black;
  color: $headerTextColor;
  text-align: center;
}
